# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build output
build/
dist/

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE/editor files
.vscode/
.idea/

# Misc
*.lock