.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);  /* Mantenemos un fondo más oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;  /* Garantizamos que el modal sea responsivo */
  position: relative;  /* Necesario para que el botón "X" se posicione de forma absoluta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Añadimos sombra para dar más visibilidad */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.closeButton:hover {
  color: red;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

textarea {
  width: 100%;
  height: 100px;  /* Aumentamos la altura para mayor legibilidad */
  margin-top: 10px;
  border: 1px solid black;
}

label {
  display: block;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}